@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {

    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
   /* color: #FCA311; */
    background-color:#14213D;
}

/*---- NavBar ---*/

.navbar {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
}

.navbar-brand {
    
    font-family: 'Poppins', sans-serif;
       
}
.navbar .navbar-brand:hover {
    color: #FCA311;
}

.navbar-nav li {
    padding-right: .7rem;
}
.navbar .navbar-expand-lg {
    color: #14213D;
}

.navbar-dark .navbar-nav .nav-link {
    color: #F1F1F1;
    padding-top: .8rem;
    
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #FCA311;
}
/*-------Jumbotron-------*/
.jumbotron {
    background-image: url("https://images.unsplash.com/photo-1491895200222-0fc4a4c35e18?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80");
    height: 30vh;
    opacity: .8;
    background-size: cover;
    background-position: center;
    color: #fafafa;
    border-radius: 0px!important;
}

.container-heading{
    font-family: 'Bebas Neue', cursive;
    padding-top: 15px;
}


.container-heading h1 {
    margin: 30px 0;
    font-size: 75px;
    font-weight: bold;
    color:#14213D;
}

.container-heading p {
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    color: #FCA311;
}

/*-------Card heading-------*/

.heading-card {
    padding-top: 5px;
    padding-left: 35px;
    padding-right: 35px;
}

.heading-card h5 {
    color: #14213D;
    font-weight: bold;
    font-size: 35px;
}

.heading-card p {
    font-size: 18px;
    color:  #FCA311;
}

/*-------- Card cloumn elements -----*/
.card-columns {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 35px;
    padding-right: 35px;
    margin: 0;
}

.card-columns p {
    color:  #FCA311;
    font-size: 18px;
}

.card-columns h5 {
    color: #14213D;
    font-weight: bold;
    font-size: 25px;
}

.blockquote-footer {
    background-color: white;
}

/* --------Footer-------------- */

footer {
    color: #fafafa;
    min-height: 100px;
    margin: 0;
    padding-bottom: 12px;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px; 
    text-align: center;
    color: #fafafa;
    background: #14213D;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    color: #FCA311;
}

#footer-details {
    padding: 10px;
}