@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');

body {

    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    color: #FCA311;
    background-color:#14213D;
}

/*---- NavBar ---*/

.navbar {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
   
}

.navbar-brand {
    
    font-family: 'Poppins', sans-serif;
       
}

.navbar-brand img {
    height: 2rem;
}

.navbar-nav li {
    padding-right: .7rem;
}
.navbar .navbar-expand-lg {
    color: #14213D;
}

.navbar-dark .navbar-nav .nav-link {
    color: #F1F1F1;
    padding-top: .8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #FCA311;
}

/*---- Heading Container ---*/
.heading-container {
    color: #ffffff;
}

.heading-container p {
    color: #ffffff;
}

/*-------- Card elements -----*/
.card-columns {

}

.card-columns p {
    color:  #FCA311;
}

.card-columns h5 {
    color: #14213D;
}

