@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@400;700&display=swap");

body {
    
    font-family: "Roboto", sans-serif;
}
/*---- Colors ---*/
.bg-color-introtitle-subquote {
    background-color: #c37400;
}

.bg-color-mid-section {
  background-color: #c37400;  
}
.bg-color-coin-header {
    background-color: #b8b8b8;
}

.bg-color-navbar {
    background-color: #212121;
}

.bg-color-body {
    background-color: #212121;
}

.bg-color-cd {
    background-color: #212121;
}

.bg-color-rcoin-btn {
    background-color: #14213d;
}
/*---- NavBar ---*/

.navbar {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
}

.navbar-brand {
    font-family: "Roboto Slab", serif;
    font-weight: bold;
}
.navbar .navbar-brand:hover {
    color: #fca311;
}

.navbar .navbar-brand i:hover{
    color: #fca311; 
}


.navbar-nav li {
    padding-right: 0.7rem;
}
.navbar .navbar-expand-lg {
    padding-top: 10px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #f1f1f1;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #fca311;
}

/*------- picture/video-------*/

.logo {
    height: 50vh;
    min-height: 500px;
    margin: 0;
}
.youtube-vid {
    border: none;
}
/*-------Coin Heading/jumbotron-------*/
.jumbotron-fluid {
    background-image: url("/assets/images/jumbotronPicture.jpg");
    background-size: cover;
    margin: 0;
    padding-top: 250px;
    padding-bottom: 250px;
    height: 50vh;
    min-height: 500px;
}

.jumbotron-fluid .main-title {
  position: absolute;
  left: 50%!important;
  z-index: 5;
  color: #212121;
  text-align: center;
  top: 15%!important;
  transform: translate(-50%, -50%);
  width: fit-content;
  padding: 50px
  }

.jumbotron-fluid .main-title i {
    color: #212121;
}

.coin-header {
    font-family: "Roboto Slab", serif;
    padding-top: 75px;
    margin: 70px 0;
    font-size: 50px;
    color: #14213d;
}
/*-------Card Deck---------*/
.card-deck {
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 15px;
    margin-top: 25px;
    margin-right: 0;
}

.p-card {
    padding-top: 25px;
}

.card-title {
    font-family: "Roboto Slab", serif;
    font-weight: bold;
    font-size: 25px;
    color: #c37400;
}

.card-text {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 20px;
    color: #fafafa;
}

.card-text dd, dl, li, ul, i {
    color: #fafafa;
}

/*-------body header---------*/
.title-section {
    padding-top: 75px;
}

/*-------Home Header section -------*/

header {
    margin-top: 50px;
}

.heading {
    height: 0em;
    padding: 0;
    position: relative;
    margin-top: 1px;

}

.heading .main-title {
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.main-title  {
    margin: 0;
    position: absolute;
    font-weight: bold;
    font-size: 50px;
    color: #212121;
    margin-top: 15px;
}


.subquote {
    font-size: 25px;
}
.heading .main-sub-title {
    margin: 0;
    position: absolute;
    
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding-top: 150px;
}

/*-------Rcoin + Adwheel Header section -------*/

.rc-heading {
    margin: 0;
    margin-left: 100px;
    position: relative;
}

.rc-heading .mid-title {
    font-weight: bold;
    font-size: 35px;
}

.rc-heading .mid-sub i {
    color: #212121;
}

.rc-heading .mid-sub{
    font-size: 20px;
}
.rc-heading .introtitle {
    font-weight: bold;
    font-size: 44px;
}

.mid-heading .main-title {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.top-heading {
    padding-top: 35px;
    padding-bottom: 35px;
    margin-top: 15px;
}

.mid-heading {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 25px;
}



/*-------- Card cloumn elements -----*/

.card {
    margin-bottom: 50px;
}

/*-------- Footer -----*/
footer {
    background-color: #b8b8b8;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #212121;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    color: #c37400;
}

#footer-details {
    padding: 20px;
}
/* ------------MQ Desktop only----------------  */

@media (min-width: 992px) {
    .center-form {
        padding-top: 50px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }

    .logo2 {
        display: none;
    }
}

/*---------MQ-mobile view---------*/

@media (max-width: 600px) {
    
    .jumbotron-fluid {
        background-image: url("/assets/images/jumbotronPicture1.jpg");
        background-size: cover;
        margin: 0;
        padding-top: 250px;
        padding-bottom: 250px;
        height: 50vh;
        min-height: 500px;
    }

    /*-------------Pictures/Content----------------*/

    .youtube-vid {
        display: none;
    }
    /*--------Cards-------*/

    .card-deck h5 {
        font-size: 20px;
        font-weight: bold;
    }

    .card-deck p {
        font-size: 15px;
    }
    /*--------Header-------*/

    .heading {
        margin: 0;
    }

    .rc-heading {
        position: relative;
        margin: 0;
        margin-left: 20px;
        margin-right: 20px;
        text-align: center;
    }

    .main-title {
        margin: 0;
        font-weight: bold;
        font-size: 30px;
        margin-bottom: 10px;
    }
.rc-heading .mid-title {
    font-weight: bold;
    font-size: 25px;
}

.rc-heading .mid-sub i {
    color: #212121;
}

.rc-heading .mid-sub{
    font-size: 20px;
}
.rc-heading .introtitle {
    font-weight: bold;
    font-size: 35px;
}

    .introtitle {
        font-size: 35px;
        text-align: center;
    }
    .subquote {
        text-align: center;
        font-size: 20px;
    }

    .card-title {
        font-family: "Roboto Slab", serif;
        font-weight: bold;
        font-size: 25px;
    }

    .card-text {
        padding-right: 5px;
        padding-left: 0px;
        padding-top: 0px;
    }

    .card-deck {
        margin-bottom: 10px;
        padding: 0;
    }

    .main-sub-title {
        margin: 0;
        padding-right: 15px;
    }
}

/*---------MQ-tablet view---------*/



    .logo {
        width: 350px;
    }

    .card-deck {
        margin-bottom: 10px;
        padding: 0;
    }
}
